body{
	margin:0;
	padding:0;
}

.contenedor{
	margin:0;
	padding:0;
}

.caja{
	width:200px;
	height:200px;
}

#rosa{
	background-color: #EE3E64;
}

#azul{
	background-color: #2B7DB9;
	position: relative;/*la posicion no depende de otro y se mueve bajo sus propiad coordenadas*/
	left: 200px;/* que desde la izq del elem al q le aplicamos esto se aleje 200px*/
	
}

#verde{
	background-color: #B7D84B;
}