body{
	margin:0;
	padding:0;
}

.contenedor{
	margin:0;
	padding:0;
}

.caja{
	width:200px;
	height:200px;
	
}

#rosa{
	background-color: #EE3E64;
	
}

#azul{
	background-color: #2B7DB9;
	position:absolute;/* si pongo relative, se separa del resto y deja el espacio vacio en medio. Si pongo absolute, cuadrado verde sube y toma posicion anterior del azul*/
	top:200px;
	left:200px;
	
}
/* NOTA: position:absolute no respeta el flujo del doc mientras que relative si (dejo el espacio vacio)*/
#verde{
	background-color: #B7D84B;
	
}

#amarillo{
	background-color: #FAFF16;
	
}